.back_1 {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: space-between;

    &_text {
        font-family: Regular;
        font-size: 12px;
        line-height: 18px;
        color: #505050;

        &_title {
            font-family: semiBold;
            font-size: 24px;
            line-height: 36px;
            color: #282938;
        }

        p {
            color: #53B175;
        }
    }
    &_icon{
    margin-left: 800px;
margin-top: -150px;}
}